{
	order feo_interceptor before reverse_proxy
	order rewrite before reverse_proxy
	order rh_identity_transform before respond
	admin off
	auto_https off
}

http://{$HCC_ENV}.foo.redhat.com:{$PROXY_PORT}, http://localhost:{$PROXY_PORT} {
	log default {
		output stdout
		format console
	}

	@html_fallback {
		header Accept *text/html*
		not path_regexp .*\/(silent-check-sso\.html)$
	}

	{$LOCAL_ROUTES}

	handle {
		route {
			feo_interceptor {
				crd_path config/deploy/frontend.yaml
			}
			reverse_proxy {$HCC_ENV_URL} {
				header_up Host {http.reverse_proxy.upstream.hostport}
				header_up Accept-Encoding "gzip;q=0,deflate,sdch"
				header_up -Origin
			}
		}
	}

	# For testing: comment out TLS to allow HTTP
	# Uncomment for production use
	# tls internal {
	# 	on_demand
	# }
}
